
$Blanc: #D9D9D9;
$BlancAlt: #D9D9D9CC;
$Rouge: #AE0000;
$RougeAlt: #c26a6a;
$Noir: #1E1E1E;
$NoirAlt: #1E1E1EAC;

@font-face { font-family: Anton; src: url(../fonts/Anton/Anton-Regular.ttf);}
@font-face { font-family: Contrail; src: url(../fonts/Contrail_One/ContrailOne-Regular.ttf);}
@font-face { font-family: Open; src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);}

a { text-decoration: none;}

@mixin centerRow { display: flex; flex-direction: row; justify-content: center; align-items: center;}
@mixin centerCol { display: flex; flex-direction: column; justify-content: center; align-items: center;}


// @media screen and (max-width: 450px) {}
