@import "./constantes.scss";

#container	{ width: 100%; height: 100vh; position: relative;
							#header  	{ width: 100%; height: 75px; background: url(../../../public/img/background.jpg) no-repeat; background-size: cover; background-position: center; position: absolute; z-index: 10; @include centerRow; border-bottom: 5px solid $Blanc;
													h2	{ font-family: Contrail; color: $Blanc; font-size: 24px;}
												}
							#user			{ width: 350px; height: 75px; position: absolute; z-index: 15; right: 0; @include centerRow;
													img	{ width: 50px; height: 50px; border-radius: 50%; margin-right: 20px;}
													p		{ font-family: Contrail; color: $Blanc; font-size: 16px;}
												}
							#sidebar 	{ width: 20%; height: 100%; background: $RougeAlt; display: flex; flex-direction: column; position: absolute; z-index: 10; top: 80px;
													ul 	{ width: 100%; height: 100%; @include centerCol; align-items: flex-start; justify-content: flex-start; margin-left: 20px;
																li	{ margin: 20px 0;
																			a	{ font-size: 20px; font-family: Contrail; color: $Blanc; transition: .5s;
																					&:hover	{ color: $Noir;}
																				}
																		}
																.divider { width: 45%; margin: 10px 0;}
															}
												}
							#outlet { width: 80%; height: 100%; background: $NoirAlt; position: absolute; z-index: 10; top: 80px; right: 0;}
							#background	{ width: 100%; height: 100%; position: absolute; z-index: 5; filter: blur(2px);}
						}

       